#coming-soon
    .coming-close
        p: span.x-one: span.x-two
    #coming-soon-container
        h1 Feature
        p Hello, thank you for looking at our website, as of this moment the current page you are on is under development.
        a(href='/') Home