footer
    #main-footer
        .circle-container
            .circle.circle-first
            .circle
            .circle
        #company-name
            h1 Stoppby
        ul.list-nav
            li
                a(href="/") Home
            //- li
            //-     a(href="/faq") FAQ
            li
                a(href="#") Contact
            li
                a(href="#") Policy & Terms
            li
                a(href="#") Our Missions
            li
                a(href="#") Our Chooses
        .copyright
            p 	&copy; 2020 Stoppby. All rigths reserved.