extends layout


block body
    #business-wrapper
        .business-header 
            .business-text 
                p Businesses Has 
                h1 10% off 
                p Get 10% off your first year on stoppby by signing up with your business email address. 
                button Get Started
            .business-img 
                img(src="img/business.jpg", alt="coffee")
        .middle-section 
            <svg class="business-top-curve" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#0099ff" fill-opacity="1" d="M0,192L80,186.7C160,181,320,171,480,181.3C640,192,800,224,960,218.7C1120,213,1280,171,1360,149.3L1440,128L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"></path></svg>
            <svg class="business-bottom-curve" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#0099ff" fill-opacity="1" d="M0,192L80,186.7C160,181,320,171,480,181.3C640,192,800,224,960,218.7C1120,213,1280,171,1360,149.3L1440,128L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z"></path></svg>
            .middle-section-container
                .middle-text-header
                    h2 Your business website is fully equipped from the start
                    p Your business website is fully equipped from the start
                    button Launch your business website
                .middle-text 
                    ol
                        li
                            h3 G Suite
                            p Strengthen your brand with professional email @ your custom domain name. Get one inbox and one user free for the first year with select plans.
                        li
                            h3 Paypal
                            p Increase sales by offering your customers a global payment method at checkout.
        .how 
            h2 How we do it?
        .list-section 
            <svg class="list-business-top-curve" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#0099ff" fill-opacity="1" d="M0,192L80,186.7C160,181,320,171,480,181.3C640,192,800,224,960,218.7C1120,213,1280,171,1360,149.3L1440,128L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"></path></svg>
            <svg class="list-business-bottom-curve" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#0099ff" fill-opacity="1" d="M0,192L80,186.7C160,181,320,171,480,181.3C640,192,800,224,960,218.7C1120,213,1280,171,1360,149.3L1440,128L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"></path></svg>
            ol 
                .ol-list-header
                    h2 Start a successful online business with our powerful tools
                    button Start your online business
                .ol-list-container
                    li
                        h3 Mobile-Optimized: Great On Every Device
                        p Every design includes a unique mobile experience that matches the overall style of your website.
                .ol-list-container
                    li
                        h3 E-Commerce: Sell Unlimited Products
                        p With our Product Catalog, you can sell any number of products or services in your online store.
                .ol-list-container
                    li
                        h3 Shopping On Instagram: Make More Sales
                        p Reach more customers than ever with shoppable Instagram posts that pull from your product inventory
                .ol-list-container
                    li
                        h3 Email Campaigns: Drive Engagement
                        p Connect with your audience through emails that match the style of your site
                .ol-list-container
                    li
                        h3 Shipping Options: Fulfill Orders Faster
                        p Quickly print shipping labels in bulk through our ShipStation integration
                .ol-list-container
                    li
                        h3 Analytics: Optimize Your Business
                        p Understand your customers and their interactions with your site through Squarespace Analytics.
                
        .start-today 
            h2 Make Your Website Today! 
            button Let's Get Started
        