extends layout

block body
    //- .option.options34.name#option1#about option 1
    .faq-main-wrapper
        .question-main-holder
            .question-wrapper
                .hiden-info
                    p answer 1
            .question-wrapper
                .hiden-info
                    p answer 2
            .question-wrapper
                .hiden-info
                    p answer 3
            .question-wrapper
                .hiden-info
                    p answer 4
            .question-wrapper
                .hiden-info
                    p answer 5