doctype html
html(lang="en")
    head
        <meta name="keyword" content="students, student, business, businesses, non-profit business, non-profit businesses">
        <meta name="description" content="This is a website that help students and corporations to put their business in the internet.">
        <meta name="author" content="Nicholas Degrate">
        meta(charset="UTF-8")
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", type="text/css", href="default.css")
        title Stoppby
    body#my-scrollbar
        #main-wrapper
            include ./includes/header
            block body
            include ./includes/footer

        //- script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.3.4/gsap.min.js")
        script(type='text/javascript', src="./js/script.js")