$maxWidth: 1200px;

$colors: (
    mainColor: #B9BCC4,
    accentOne: #C58A72,
    accentTwo: #AB4B32,
    lightgray:  #B2B1B1,
    accentThree: #AFB7C0,
    accentFour: #D8909F,
    white: #fff,
);

$screen: (
    mobile: 500px,
    tablet: 990px,
    desktop: 1200px,
);

$fonts: (
  small: 1em,
  medium: 1.5em,
  large: 2.2em 
);

// # function

// color
@function color($key) {
    @if map-has-key($colors, $key) {
      @return map-get($colors, $key);
    }

    @warn "Unknown `#{$key}` in $colors.";
    @return null;
}

// screen
@function screen($key) {
    @if map-has-key($screen, $key) {
      @return map-get($screen, $key);
    }

    @warn "Unknown `#{$key}` in $screen.";
    @return null;
}
//font
@function font($key) {
  @if map-has-key($fonts, $key) {
    @return map-get($fonts, $key);
  }

  @warn "Unknown `#{$key}` in $font.";
  @return null;
}