// header
#nav-header {
    height: 100%;
    min-height: 7vh;
    width: 90%;
    max-width: $maxWidth;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000;
    position: relative;
    // title name
    .title-name {
        font-weight: 500;
        font-size: font(medium);
        display: flex;
        align-items: center;
        a {
            color: #000;
        }
        img {
            height: 40px;
            width: 40px;
            margin-right: .4em;
        }
    }

    nav {
        width: 90%;
        .contact-link {
            display: none;
        }
        // hamburger icon
        #hamburger-container {
            height: 1.3em;
            display: flex;
            align-items: center;
            position: absolute;
            bottom: 50%;
            right: 0;
            transform: translate(0%, 50%);
            z-index: 60;
            h3 {
                padding: .5em;
                text-transform: uppercase;
                font-size: font(small) - .2em;
                letter-spacing: .5em;
                cursor: pointer;
                align-self: center;
            }
            #hamburger {
                align-self: end;
                width: 1.5em;
                cursor: pointer;
                // individual lines
                .line {
                    background: #000;
                    height: 2px;
                    width: 100%;
                    margin: .3em 0;
                }
            }
        }
        .join-container {
            position: absolute;
            height: 30vw;
            min-height: 150px;
            max-height: 200px;
            width: 1px;
            right:10%;
            top: 0%;
            background: #000;
            transform: translate(10%, 0%);
            z-index: 100;
                .circle-join {
                    position: absolute;
                    right: 50%;
                    bottom: 0;
                    transform: translate(50%, 0%);
                    width: 12vw; 
                    height: 12vw;
                    max-width: 84px;
                    max-height: 84px;
                    background: #fff;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    padding: 1em;
                    a {
                        color: #000;
                    }
            }
        }
        
        .nav-links-wrapper {
            position: absolute;
            top: 0;
            right: 0;
            height:0%;
            width: 100%;
            z-index: 100;
            background: color(mainColor);
            display: flex;
            justify-content: left;
            transition:.5s;
            .nav-container {
                width: 100%;
                display: none;
                position: relative;
                .close {
                    display: flex;
                    justify-content: flex-end;
                    p {
                        font-weight:200 !important;
                        font-size: 2.5em;
                        color: #000;
                        cursor: pointer;
                        margin: .8em .5em;
                        position: relative;
                        .x-one {
                            position: absolute;
                            top:0;
                            right: 0;
                            display: inline-block;
                            background: #000;
                            height: 2px;
                            width: 30px;
                            transform: rotate(45deg);
                        }
                        .x-two {
                            position: absolute;
                            top:0;
                            right: 0;
                            display: inline-block;
                            background: #000;
                            height: 2px;
                            width: 30px;
                            transform: rotate(-90deg);
                        }
                    }
                }
            }
            li {
                // display: none;
                margin: 1.5em;
                a {
                    font-size: 2em;
                    color:#000;
                }
            }
        }
    }
}

.open {
    clip-path: circle(100% at 90% -10%);
    -webkit-clip-path: circle(100% at 90% -10%);
    pointer-events: all;
}

@media screen and (min-width: 500px) {
    .join-container {
        right:8% !important;
        transform: translate(8%, 0%) !important;
    }
    .contact-link {
        display: block !important;
        color: #000;
        position: absolute;
        bottom: 33%;
        right: 13%;
        transform: translate3(13%, -35%);
    }
}
@media screen and (min-width: 600px) {
    .title-name {
        img {
            display: none;
        }
    }
}